.add-message {
  width: 100%;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }

  .message-form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .send-button {
    background-color: #78C5EF;
    height: 30px;
    border: none;
    align-self: center;
  }
}
